a:focus {
  outline: none; }

#preloader {
  background: #262626;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 2; }

.cssload-thecube {
  width: 45px;
  height: 45px;
  margin: 0 auto;
  margin-top: 30px;
  position: relative;
  transform: rotateZ(45deg);
  -o-transform: rotateZ(45deg);
  -ms-transform: rotateZ(45deg);
  -webkit-transform: rotateZ(45deg);
  -moz-transform: rotateZ(45deg); }

.cssload-thecube .cssload-cube {
  position: relative;
  transform: rotateZ(45deg);
  -o-transform: rotateZ(45deg);
  -ms-transform: rotateZ(45deg);
  -webkit-transform: rotateZ(45deg);
  -moz-transform: rotateZ(45deg); }

.cssload-thecube .cssload-cube {
  float: left;
  width: 50%;
  height: 50%;
  position: relative;
  transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1); }

.cssload-thecube .cssload-cube:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #23c9d2;
  animation: cssload-fold-thecube 2.16s infinite linear both;
  -o-animation: cssload-fold-thecube 2.16s infinite linear both;
  -ms-animation: cssload-fold-thecube 2.16s infinite linear both;
  -webkit-animation: cssload-fold-thecube 2.16s infinite linear both;
  -moz-animation: cssload-fold-thecube 2.16s infinite linear both;
  transform-origin: 100% 100%;
  -o-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  -webkit-transform-origin: 100% 100%;
  -moz-transform-origin: 100% 100%; }

.cssload-thecube .cssload-c2 {
  transform: scale(1.1) rotateZ(90deg);
  -o-transform: scale(1.1) rotateZ(90deg);
  -ms-transform: scale(1.1) rotateZ(90deg);
  -webkit-transform: scale(1.1) rotateZ(90deg);
  -moz-transform: scale(1.1) rotateZ(90deg); }

.cssload-thecube .cssload-c3 {
  transform: scale(1.1) rotateZ(180deg);
  -o-transform: scale(1.1) rotateZ(180deg);
  -ms-transform: scale(1.1) rotateZ(180deg);
  -webkit-transform: scale(1.1) rotateZ(180deg);
  -moz-transform: scale(1.1) rotateZ(180deg); }

.cssload-thecube .cssload-c4 {
  transform: scale(1.1) rotateZ(270deg);
  -o-transform: scale(1.1) rotateZ(270deg);
  -ms-transform: scale(1.1) rotateZ(270deg);
  -webkit-transform: scale(1.1) rotateZ(270deg);
  -moz-transform: scale(1.1) rotateZ(270deg); }

.cssload-thecube .cssload-c2:before {
  animation-delay: 0.265s;
  -o-animation-delay: 0.265s;
  -ms-animation-delay: 0.265s;
  -webkit-animation-delay: 0.265s;
  -moz-animation-delay: 0.265s; }

.cssload-thecube .cssload-c3:before {
  animation-delay: 0.54s;
  -o-animation-delay: 0.54s;
  -ms-animation-delay: 0.54s;
  -webkit-animation-delay: 0.54s;
  -moz-animation-delay: 0.54s; }

.cssload-thecube .cssload-c4:before {
  animation-delay: 0.805s;
  -o-animation-delay: 0.805s;
  -ms-animation-delay: 0.805s;
  -webkit-animation-delay: 0.805s;
  -moz-animation-delay: 0.805s; }

@keyframes cssload-fold-thecube {
  0%, 10% {
    -webkit-transform: perspective(84px) rotateX(-180deg);
    transform: perspective(84px) rotateX(-180deg);
    opacity: 0; }
  25%,
  75% {
    -webkit-transform: perspective(84px) rotateX(0deg);
    transform: perspective(84px) rotateX(0deg);
    opacity: 1; }
  90%,
  100% {
    -webkit-transform: perspective(84px) rotateY(180deg);
    transform: perspective(84px) rotateY(180deg);
    opacity: 0; } }

@-o-keyframes cssload-fold-thecube {
  0%, 10% {
    -o-transform: perspective(84px) rotateX(-180deg);
    opacity: 0; }
  25%,
  75% {
    -o-transform: perspective(84px) rotateX(0deg);
    opacity: 1; }
  90%,
  100% {
    -o-transform: perspective(84px) rotateY(180deg);
    opacity: 0; } }

@-ms-keyframes cssload-fold-thecube {
  0%, 10% {
    -ms-transform: perspective(84px) rotateX(-180deg);
    opacity: 0; }
  25%,
  75% {
    -ms-transform: perspective(84px) rotateX(0deg);
    opacity: 1; }
  90%,
  100% {
    -ms-transform: perspective(84px) rotateY(180deg);
    opacity: 0; } }

@-webkit-keyframes cssload-fold-thecube {
  0%, 10% {
    -webkit-transform: perspective(84px) rotateX(-180deg);
    opacity: 0; }
  25%,
  75% {
    -webkit-transform: perspective(84px) rotateX(0deg);
    opacity: 1; }
  90%,
  100% {
    -webkit-transform: perspective(84px) rotateY(180deg);
    opacity: 0; } }

@-moz-keyframes cssload-fold-thecube {
  0%, 10% {
    -moz-transform: perspective(84px) rotateX(-180deg);
    opacity: 0; }
  25%,
  75% {
    -moz-transform: perspective(84px) rotateX(0deg);
    opacity: 1; }
  90%,
  100% {
    -moz-transform: perspective(84px) rotateY(180deg);
    opacity: 0; } }

body {
  background: #262626;
  font-family: 'Montserrat',sans-serif;
  padding: 0;
  margin: 0;
  color: #fff;
  letter-spacing: 0.09em;
  text-transform: uppercase; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0; }

a, a:hover, a:active {
  text-decoration: none;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }

ul, li {
  display: block;
  padding: 0;
  margin: 0; }

.wrap {
  min-height: 920px; }

.d-flex {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

/*POPUP*/
/*POPUP*/
.conteiner_header {
  width: 100%;
  position: fixed;
  height: 10%;
  z-index: 1;
  background: #0009; }

.header {
  height: 10vh; }

.align-items-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.logo {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  width: 15%;
  padding-left: 7%; }

.menu {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding-right: 12%;
  width: 60%; }

.menu_item {
  margin-right: 48px; }

.menu_item a {
  font-weight: 300;
  font-size: 15px;
  color: #fff; }

.menu_item a:hover {
  color: #23c8d2; }

.menu_item div {
  font-weight: 300;
  font-size: 15px;
  color: #fff; }

.menu_item div:hover {
  color: #23c8d2;
  cursor: pointer; }

.auth {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  width: 30%;
  padding-right: 4%;
  margin-right: 10px; }

#userPhoto {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-top: 2px;
  margin-right: -40px;
  margin-bottom: 2px;
  margin-left: 2px;
  overflow: hidden;
  background-image: url("../img/profile.jpeg");
  background-size: cover;
  background-position: center;
  margin-right: 0px; }

.exit {
  line-height: 65px; }

/*adptive_menu*/
.auth ul ul {
  display: none;
  position: absolute;
  right: -17px;
  top: 68px;
  background: #0009;
  width: 200px; }

.sub_menu {
  position: absolute;
  display: none;
  top: 28%;
  right: 2%;
  height: 100px; }

.auth li:hover ul {
  display: block;
  right: -17px; }

.sub_menu ul li a {
  padding: 9%;
  font-size: 13px;
  margin: 0%; }

.sub_menu ul li a:hover {
  padding: 9%;
  font-size: 13px;
  margin: 0%;
  display: block;
  background: #ffffff94;
  color: #000; }

.sub_menu a {
  display: block;
  color: #fff;
  font-size: 24px; }

.profile {
  -webkit-transform: translate(-50%);
  -ms-transform: translate(-50%);
  transform: translate(-50%);
  margin-left: 50%;
  text-align: center;
  width: 100%;
  background: #333; }
  .profile .userName {
    padding-bottom: 10px; }

a {
  color: #fff;
  font-weight: 300;
  font-size: 20px; }

a:hover {
  color: #23c8d2; }

.userPhoto {
  background-image: url("../img/profile.jpeg");
  background-size: cover;
  background-position: center;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  display: block;
  margin-left: 50%;
  -webkit-transform: translate(-50%);
  -ms-transform: translate(-50%);
  transform: translate(-50%);
  margin-bottom: 20px;
  -webkit-box-shadow: 11px 11px 23px #000;
  box-shadow: 11px 11px 23px #000; }

.userPhoto:hover {
  -webkit-box-shadow: 5px 5px 23px #fafafa;
  box-shadow: 5px 5px 23px #fafafa; }

.button {
  border-top: 1px solid #262626;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #333; }
  .button .active {
    background: #262626;
    margin-bottom: 0; }
  .button #btMyPhoto {
    border-top-right-radius: 40px; }
  .button #btAddPhoto {
    border-top-left-radius: 40px; }
  .button div {
    width: 50%;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px; }
    .button div a {
      padding: 10px 20px 10px 20px;
      border-radius: 40px;
      background: #3a3a3a; }
    .button div a:hover {
      background: #262626;
      cursor: pointer; }

#addPhoto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: none; }
  #addPhoto .flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    #addPhoto .flex .text_download {
      width: 50%;
      text-transform: none;
      padding: 10px;
      font-size: 14px;
      line-height: 1.6;
      font-family: 'Open Sans',sans-serif; }
  #addPhoto .form {
    width: 50%;
    text-transform: none;
    font-size: 14px;
    line-height: 1.6;
    padding-top: 10px;
    font-family: 'Open Sans',sans-serif; }
    #addPhoto .form span {
      text-transform: uppercase;
      font-weight: bold;
      color: tomato; }
    #addPhoto .form .tagAdd {
      width: 300px;
      height: 61px;
      padding: .5em .6em;
      display: inline-block;
      border: 1px solid #ccc;
      -webkit-box-shadow: inset 0 1px 3px #ddd;
      box-shadow: inset 0 1px 3px #ddd;
      border-radius: 4px;
      vertical-align: middle;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      height: 61px;
      overflow: hidden;
      overflow-wrap: break-word;
      resize: none; }
    #addPhoto .form .inputLoad {
      border: none;
      background: #333;
      color: #fff;
      padding: 5px 10px 5px 10px;
      border-radius: 40px; }
    #addPhoto .form .inputLoad:hover {
      background: #3a3a3a;
      cursor: pointer;
      color: #26c8d2; }
  #addPhoto .add {
    display: block;
    max-width: 120px;
    position: relative;
    overflow: hidden;
    direction: ltr;
    height: 30px;
    line-height: 30px;
    border-radius: 50px;
    padding: 5px 5px 5px 5px;
    text-align: center;
    background: #333;
    margin: 1%;
    text-transform: none; }
  #addPhoto .add:hover {
    cursor: pointer;
    background: #3a3a3a;
    color: #23c8d2; }
  #addPhoto .inputAdd {
    position: absolute;
    right: 0px;
    top: 0px;
    font-family: Arial;
    font-size: 118px;
    margin: 0px;
    padding: 0px;
    cursor: pointer;
    opacity: 0; }

#album1 {
  display: block; }

#album2 {
  display: none; }

.album {
  height: 100%;
  position: relative; }

.flexbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify; }

.items {
  max-height: 293px;
  margin: 10px auto;
  position: relative;
  cursor: pointer;
  -webkit-box-shadow: 5px 5px 15px #000;
  box-shadow: 5px 5px 15px #000; }

.items:hover {
  -webkit-box-shadow: 5px 5px 15px #aeaeae;
  box-shadow: 5px 5px 15px #aeaeae; }

.size_photo {
  max-height: 293px; }

.border_right {
  width: 30px;
  height: 101%;
  background: #262626;
  position: absolute;
  z-index: 1; }

.border_left {
  width: 30px;
  height: 101%;
  background: #262626;
  position: absolute;
  right: 0;
  z-index: 1; }

.desct {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 88%;
  width: 100%;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0)));
  background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.6) 0, rgba(0, 0, 0, 0) 100%);
  background: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.6) 0, rgba(0, 0, 0, 0) 100%);
  background: linear-gradient(to top, rgba(0, 0, 0, 0.6) 0, rgba(0, 0, 0, 0) 100%);
  opacity: 0;
  height: 6%;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
  padding: 10px 0px 8px 0px; }
  .desct a {
    color: #fafafa;
    font-size: 13px;
    font-weight: 300;
    text-transform: lowercase;
    margin-left: 20px; }
  .desct a:hover {
    background: rgba(255, 255, 255, 0.2);
    padding: 2px;
    border-radius: 5px; }
  .desct .like {
    position: absolute;
    right: 20px;
    font-size: 13px;
    font-weight: 300;
    text-transform: lowercase; }
    .desct .like i {
      margin-left: 5px; }
    .desct .like i:hover {
      color: #bbb;
      cursor: pointer; }
    .desct .like span {
      margin-left: 2px; }

.items:hover .desct {
  opacity: 1; }

.pageSlide {
  margin-top: 3%;
  position: relative; }
  .pageSlide #next {
    display: block;
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%);
    bottom: 10px;
    border: 1px solid #fff;
    border-radius: 20px;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    padding-top: 10px;
    padding-right: 35px;
    padding-bottom: 10px;
    padding-left: 10px; }
    .pageSlide #next i {
      position: absolute;
      top: 2px;
      padding: 10px;
      -webkit-transition: .5s;
      -o-transition: .5s;
      transition: .5s; }
  .pageSlide #next:hover {
    background: #bbb;
    color: #000;
    cursor: pointer;
    padding-right: 10px; }
    .pageSlide #next:hover i {
      -webkit-transform: translateX(80px);
      -ms-transform: translateX(80px);
      transform: translateX(80px);
      border: 1px solid #fff;
      padding: 10px;
      top: 2px;
      border-radius: 20px;
      background: #bbb;
      -webkit-transition: .5s;
      -o-transition: .5s;
      transition: .5s; }
  .pageSlide #back {
    display: none;
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%);
    bottom: 10px;
    border: 1px solid #fff;
    border-radius: 20px;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 35px; }
    .pageSlide #back i {
      margin-left: -35px;
      position: absolute;
      top: 2px;
      padding: 10px;
      -webkit-transition: .5s;
      -o-transition: .5s;
      transition: .5s; }
  .pageSlide #back:hover {
    background: #bbb;
    color: #000;
    padding-left: 10px;
    cursor: pointer; }
    .pageSlide #back:hover i {
      -webkit-transform: translateX(-80px);
      -ms-transform: translateX(-80px);
      transform: translateX(-80px);
      border: 1px solid #fff;
      padding: 10px;
      top: 2px;
      border-radius: 20px;
      background: #bbb;
      -webkit-transition: .5s;
      -o-transition: .5s;
      transition: .5s; }

.footer {
  background: #0009;
  width: 100%; }

.footer_nav {
  padding: 1%; }

.footer li a {
  margin-right: 20px;
  color: #fff; }

.footer li a:hover {
  margin-right: 20px;
  color: #bbb; }

.footer i {
  font-size: 24px;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end; }

.pixua_2019 {
  font-size: 13px;
  width: 99%; }

@media screen and (max-width: 1310px) {
  .sub_menu {
    display: block; }
  .menu_item {
    display: none; }
  .logo img {
    width: 20vh; }
  .popup_sign_up {
    height: 80%;
    width: 50%; }
  .popup_login {
    width: 50%; }
  .userPhoto {
    display: block; } }

@media screen and (max-width: 800px) {
  .popup_sign_up {
    height: 80%;
    width: 100%; }
  .sign_submit {
    font-size: 3vh; }
  .sign_submit:hover {
    font-size: 3vh; }
  .social .facebook {
    font-size: 1.6vh; }
  .social {
    height: 5vh; }
  .social .google {
    font-size: 1.6vh; }
  .popup_login {
    height: 80%;
    width: 90%; } }

/*MEDIA*/
