$bgcolor: #262626;
$fontcolor: #fff;
$bgsign_log: #1a1919bf;
$color_sign_log: #fafafa;
$color_sign_log_hov: #bbb;

#preloader{
	background: #262626;
	align-items: center;
	display: flex;
	justify-content:center;
	height: 100%;
	width: 100%; 
	position: fixed;
	z-index: 2;	
}

.cssload-thecube {
	width: 45px;
	height: 45px;
	margin: 0 auto;
	margin-top: 30px;
	position: relative;
	transform: rotateZ(45deg);
		-o-transform: rotateZ(45deg);
		-ms-transform: rotateZ(45deg);
		-webkit-transform: rotateZ(45deg);
		-moz-transform: rotateZ(45deg);
}
.cssload-thecube .cssload-cube {
	position: relative;
	transform: rotateZ(45deg);
		-o-transform: rotateZ(45deg);
		-ms-transform: rotateZ(45deg);
		-webkit-transform: rotateZ(45deg);
		-moz-transform: rotateZ(45deg);
}
.cssload-thecube .cssload-cube {
	float: left;
	width: 50%;
	height: 50%;
	position: relative;
	transform: scale(1.1);
		-o-transform: scale(1.1);
		-ms-transform: scale(1.1);
		-webkit-transform: scale(1.1);
		-moz-transform: scale(1.1);
}
.cssload-thecube .cssload-cube:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgb(35,201,210);
	animation: cssload-fold-thecube 2.16s infinite linear both;
		-o-animation: cssload-fold-thecube 2.16s infinite linear both;
		-ms-animation: cssload-fold-thecube 2.16s infinite linear both;
		-webkit-animation: cssload-fold-thecube 2.16s infinite linear both;
		-moz-animation: cssload-fold-thecube 2.16s infinite linear both;
	transform-origin: 100% 100%;
		-o-transform-origin: 100% 100%;
		-ms-transform-origin: 100% 100%;
		-webkit-transform-origin: 100% 100%;
		-moz-transform-origin: 100% 100%;
}
.cssload-thecube .cssload-c2 {
	transform: scale(1.1) rotateZ(90deg);
		-o-transform: scale(1.1) rotateZ(90deg);
		-ms-transform: scale(1.1) rotateZ(90deg);
		-webkit-transform: scale(1.1) rotateZ(90deg);
		-moz-transform: scale(1.1) rotateZ(90deg);
}
.cssload-thecube .cssload-c3 {
	transform: scale(1.1) rotateZ(180deg);
		-o-transform: scale(1.1) rotateZ(180deg);
		-ms-transform: scale(1.1) rotateZ(180deg);
		-webkit-transform: scale(1.1) rotateZ(180deg);
		-moz-transform: scale(1.1) rotateZ(180deg);
}
.cssload-thecube .cssload-c4 {
	transform: scale(1.1) rotateZ(270deg);
		-o-transform: scale(1.1) rotateZ(270deg);
		-ms-transform: scale(1.1) rotateZ(270deg);
		-webkit-transform: scale(1.1) rotateZ(270deg);
		-moz-transform: scale(1.1) rotateZ(270deg);
}
.cssload-thecube .cssload-c2:before {
	animation-delay: 0.265s;
		-o-animation-delay: 0.265s;
		-ms-animation-delay: 0.265s;
		-webkit-animation-delay: 0.265s;
		-moz-animation-delay: 0.265s;
}
.cssload-thecube .cssload-c3:before {
	animation-delay: 0.54s;
		-o-animation-delay: 0.54s;
		-ms-animation-delay: 0.54s;
		-webkit-animation-delay: 0.54s;
		-moz-animation-delay: 0.54s;
}
.cssload-thecube .cssload-c4:before {
	animation-delay: 0.805s;
		-o-animation-delay: 0.805s;
		-ms-animation-delay: 0.805s;
		-webkit-animation-delay: 0.805s;
		-moz-animation-delay: 0.805s;
}



@keyframes cssload-fold-thecube {
	0%, 10% {
		transform: perspective(84px) rotateX(-180deg);
		opacity: 0;
	}
	25%,
				75% {
		transform: perspective(84px) rotateX(0deg);
		opacity: 1;
	}
	90%,
				100% {
		transform: perspective(84px) rotateY(180deg);
		opacity: 0;
	}
}

@-o-keyframes cssload-fold-thecube {
	0%, 10% {
		-o-transform: perspective(84px) rotateX(-180deg);
		opacity: 0;
	}
	25%,
				75% {
		-o-transform: perspective(84px) rotateX(0deg);
		opacity: 1;
	}
	90%,
				100% {
		-o-transform: perspective(84px) rotateY(180deg);
		opacity: 0;
	}
}

@-ms-keyframes cssload-fold-thecube {
	0%, 10% {
		-ms-transform: perspective(84px) rotateX(-180deg);
		opacity: 0;
	}
	25%,
				75% {
		-ms-transform: perspective(84px) rotateX(0deg);
		opacity: 1;
	}
	90%,
				100% {
		-ms-transform: perspective(84px) rotateY(180deg);
		opacity: 0;
	}
}

@-webkit-keyframes cssload-fold-thecube {
	0%, 10% {
		-webkit-transform: perspective(84px) rotateX(-180deg);
		opacity: 0;
	}
	25%,
				75% {
		-webkit-transform: perspective(84px) rotateX(0deg);
		opacity: 1;
	}
	90%,
				100% {
		-webkit-transform: perspective(84px) rotateY(180deg);
		opacity: 0;
	}
}

@-moz-keyframes cssload-fold-thecube {
	0%, 10% {
		-moz-transform: perspective(84px) rotateX(-180deg);
		opacity: 0;
	}
	25%,
				75% {
		-moz-transform: perspective(84px) rotateX(0deg);
		opacity: 1;
	}
	90%,
				100% {
		-moz-transform: perspective(84px) rotateY(180deg);
		opacity: 0;
	}
}



body {
	background: $bgcolor;
	font-family: 'Montserrat',sans-serif;
	padding: 0;
	margin: 0;
	color: $fontcolor;
	letter-spacing: 0.09em;
	text-transform: uppercase;
	
}
h1, h2, h3, h4, h5, h6{
	margin: 0;
	padding: 0;
}

a, a:hover, a:active {
	text-decoration: none;
	-webkit-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	
}
ul, li {
	display: block;
	padding: 0;
	margin: 0;
	
}
.d-flex {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
/*POPUP*/
.overlay_sign{
	position: absolute;
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
	display: none;
	z-index: 1;
}

.overlay_log{
	position: absolute;
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
	display: none;
	z-index: 1;
}


.popup_sign_up{
 	position: fixed;
 	width: 30%;
 	left: 50%;
 	top: 50%;
 	-webkit-transform: translate(-50%, -50%);
 	-ms-transform: translate(-50%, -50%);
 	transform: translate(-50%, -50%);
 	padding: 40px;
 	-webkit-box-sizing: border-box;
 	box-sizing: border-box;
 	color: $fontcolor;
 	height: 70%;
 	border-radius: 5%;
 	background: $bgsign_log;
}
.popup_login{
	position: fixed;
	width: 30%;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	padding: 40px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	color: $fontcolor;
	height: 70%;
	border-radius: 5%;
	background: $bgsign_log;
}

.close_popup{
	position: absolute;
	top: 15px;
	right: 15px;
	width: 23px;
	height: 23px;
	cursor: pointer;
}
.close_popup:before {
	content: '';
	background-color: #fafafa;
	position: absolute;
	height: 1px;
	width: 31px;
	top: 11px;
	left: -4px;
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg); 
}
.close_popup:after {
	content: '';
	background-color: #fafafa;
	position: absolute;
	height: 1px;
	width: 31px;
	top: 11px;
	left: -4px;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg); 
}
.sign_log{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 23px;
	width: 100%;
	position: relative;
	
	
}
.popup_sign_active{
	color: $color_sign_log;
	position: absolute;
	left: 10%;
	border-bottom: 2px solid $color_sign_log;
}
.popup_sign_active:hover {
	color: $color_sign_log_hov;
	position: absolute;
	left: 10%;
	border-bottom: 2px solid $color_sign_log_hov;
	cursor: pointer;
}
.popup_log_notactive{
	color: $color_sign_log;
	right: 10%;
	position: absolute;
}
.popup_log_notactive:hover {
	color: $color_sign_log_hov;
	right: 10%;
	position: absolute;
	border-bottom: 2px solid $color_sign_log_hov;
	cursor: pointer;

}
.popup_sign_notactive{
	color: $color_sign_log;
	position: absolute;
	left: 10%;
	
}
.popup_sign_notactive:hover {
	color: $color_sign_log_hov;
	position: absolute;
	left: 10%;
	cursor: pointer;
	border-bottom: 2px solid $color_sign_log_hov;
}
.popup_log_active{
	color: $color_sign_log;
	right: 10%;
	position: absolute;
	border-bottom: 2px solid $color_sign_log;
}
.popup_log_active:hover {
	color: $color_sign_log_hov;
	right: 10%;
	position: absolute;
	border-bottom: 2px solid $color_sign_log_hov;
	cursor: pointer;
	
}
.line:before {
	content: '';
	background-color: #fafafa;
	position: absolute;
	height: 1px;
	width: 90%;
	top: 20%;
	left: 5%;
	-webkit-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	transform: rotate(0deg);
}
.line1:before {
	content: '';
	background-color: #fafafa;
	position: absolute;
	height: 1px;
	width: 90%;
	top: 75%;
	left: 5%;
	-webkit-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	transform: rotate(0deg);
}	
.input{
	top: 46%;
	position: absolute;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	width: 80%;
	input{
		padding-left: 10px;
	}
}
.email_p{
	margin-bottom: -20px; 
	text-transform: none;
}
.username_p{
	margin-bottom:0;
	text-transform: none;
}
.password_p{
	margin-bottom: -20px;
	text-transform: none;
}
.email{
	width: 96%;
  height: 4vh;
  margin-top: 20px;
  background: #bbb ;
  border-radius: 10px;
  background: none;
	color: $color_sign_log;
	border-radius: 10px;
}
.password{
	width: 96%;
	margin-top: 20px;
	height: 4vh;
	background: none;
	color: $color_sign_log;
	border-radius: 10px;
}
.username{
	width: 96%;
  height: 4vh;
  background: none;
	color: $color_sign_log;
	border-radius: 10px;
}
.sign_submit{
	-webkit-transform: translate(50%,50%);
	-ms-transform: translate(50%,50%);
	transform: translate(50%,50%);
	width: 50%;
	background: none;
	
	font-size: 1.8em;
	color: $fontcolor;
	-webkit-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
	border: 1px solid #ffffffa1;
	border-radius: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.sign_submit:hover {
	-webkit-transform: translate(50%,50%);
	-ms-transform: translate(50%,50%);
	transform: translate(50%,50%);
	width: 50%;
	background: #32dd23;
	border-radius: 10px;
	font-size: 1.8em;
	color: #fff;
	-webkit-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
	cursor: pointer;
}

.social{
	top: 82%;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.3vh;
  width: 80%;

}



.social .facebook{
	background: #3b5998;
	border-radius: 10px;
	padding: 3% 3% 3% 3%;
	width: 40%;
	color: $fontcolor;
	margin-right: 5%;
}
.social .facebook:hover {
	background: #324c84;
	border-radius: 10px;
	padding: 3% 3% 3% 3%;
	width: 40%;
	color: $fontcolor;
	margin-right: 5%;
}

.social .google{
	background: #d73d32;
	border-radius: 10px;
	color: $fontcolor;
	margin-left: 5%;
	padding: 3% 3% 3% 3%;
	width: 40%;
}
.social .google:hover {
	background: #c6372d;
	border-radius: 10px;
	color: $fontcolor;
	margin-left: 5%;
	padding: 3% 3% 3% 3%;
	width: 40%;
}
.social .facebook i{
	padding: 3% 3% 3% 12%;
}
.social .google i{
	padding: 3% 3% 3% 15%;
}



/*POPUP*/
.conteiner_header {
	width: 100%;
	position: fixed;
	height: 10%;
	z-index: 1;
	background: #0009;

}
.header {
	height: 10vh;

}
.align-items-center{
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;	
}
.logo {
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	width: 15%;
	padding-left: 7%;
}
.menu {
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;
	padding-right: 12%;
	width: 60%;
}
.menu_item {
	margin-right: 48px;

}
.menu_item a{
	font-weight: 300;
	font-size: 15px;
	color: $fontcolor;
}
.menu_item a:hover {
	color: #23c8d2;
}
.menu_item div{
	font-weight: 300;
	font-size: 15px;
	color: $fontcolor;
}
.menu_item div:hover {
	color: #23c8d2;
	cursor: pointer;
}
.auth {
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;
	width: 30%;
	padding-right: 4%;
}
/*adptive_menu*/
.auth ul ul{
	display: none;
	position: absolute;
	right: -17px;
	top: 68px;
	background: #0009;
	width: 200px;

}
.sub_menu{
	position: absolute;
	display: none;
	top: 28%;
	right: 2%;
	height: 100px;

}
.auth li:hover ul{
	display: block;
	right: -17px;
}
.sub_menu ul li a{
	padding: 9%;
	font-size: 13px;
	margin: 0%;
}
.sub_menu ul li a:hover{
	padding: 9%;
	font-size: 13px;
	margin: 0%;
	display: block;
	background: #ffffff94;
	color: #000;
}
.sub_menu a{
	display: block;
	color: #fff;
	font-size: 24px;
}
#album1{
	display: block;
}
#album2{
	display: none;
}
.album{
	height: 100%;
	position: relative;
}
.flexbox{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	
}
.items{
	max-height: 293px;
	margin: 10px auto;
	position: relative;
	cursor: pointer;
	box-shadow: 5px 5px 15px #000;
}
.items:hover{
	box-shadow: 5px 5px 15px #aeaeae;
}
.size_photo{
	max-height: 293px;
}
.border_right{
	width: 30px;
	height: 100%;
	background:$bgcolor;
	position: absolute;
	z-index: 1;
}
.border_left{
	width: 30px;
	height: 100%;
	background: $bgcolor;
	position: absolute;
	right: 0;
	z-index: 1;
}
.desct{
  position: absolute;
  display: flex;
	top: 88%;
	width: 100%;
	background: linear-gradient(to top,rgba(0,0,0,.6) 0,rgba(0,0,0,0) 100%);
	opacity: 0;
	height: 6%;
	-webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
	padding: 10px 0px 8px 0px;
	a{
		color: #fafafa;
		font-size: 13px;
    font-weight: 300;
    text-transform: lowercase;
    // padding: 7px;
    margin-left: 20px;
	}
	a:hover{
		background:rgba(255,255,255,.2);
		padding: 2px;
		border-radius: 5px;
	}
	.like{
		position: absolute;
		right: 20px;
		font-size:13px;
		font-weight: 300;
		text-transform: lowercase;
		i{
			margin-left: 5px;
		}
		i:hover{
			color: #bbb;
			cursor: pointer;
		}
		span{
			margin-left: 2px;
		}

	}
}
.items:hover .desct{
	opacity: 1;

}
//slider
#slider{
	display: none;
	// display: none;
	width: 80%;
	height: 80%;
	position: absolute;
	top:15%;
	left:10%;
	position: fixed;
	background: #171717;
	z-index: 1;
	border-radius: 10px;
	border: 1px solid #bbb;
	.close{
		position: absolute;
		right: 15px;
		top: 15px;
		font-size: 25px;
		z-index: 1;
		a:hover{
			color: #bbb;
			cursor: pointer;
		}
	}
}
.inside{
	display: flex;
	width: 70%;
	height: 100%;
	border-radius: 10px;
	justify-content: center;
	overflow:hidden;
	img{
		display: block;
		position: relative;
		
		height: 100%;
		// border: 1px solid red;
		background-size:contain;
		border-radius: 10px;
		background-repeat: no-repeat;
		border-radius: 10px;


	}
	
}
.right{
	
	width: 30%;
	height: 100%;
	position: absolute;
	right: 0;
	top: 0;
	.profile{
		display: flex;
		width: 100%;
		align-items: center;
		.photo_profile{
			width: 25%;
			height: 95px;
			border-radius: 50px;
			border:1px solid white;
			margin-top: 20px;
			margin-left: 20px;
			background:url('../img/profile.jpeg');
			background-size: cover;
			background-position: center;
		}
		.userName{
			font-size: 20px;
			width: 75%;
			text-align: center;
			font-weight: 300;
			margin-right:30px;
			a{
				color: #fff;
				text-decoration: none;
			}
			a:hover{
				color:#23c8d2;
			}
		}
	}
	.like_anim{
		cursor: pointer;
		a{
		width: 100px;
		height: 37.5px;
		background:#fff;
		display: block;
		position: absolute;
		top: 20%;
		left: 60%;
		transform: translate(-50%);
		border-radius: 75px;
		line-height: 37.5px;
		text-align: center;
		font-size: 15px;
		text-decoration: none;
		color:#262626;
		transition: 0.5s;
		text-transform: unset;
		i{
			margin-right: 5px;
		}
		}
		a:hover{
			background:#ff0047;
			color:#fff;
		}
		a.active{
			background:transparent;
			color: #fff;
			i{
				display: none;
			}
		}
		a:before{
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			background: #ff0047;
			width: 50%;
			height: 100%;
			transition: 0.5s;
			z-index: -1;
			transform: translateX(-100px) rotate(-325deg);
			opacity:0;
		}
		a.active:before{
			transform: translateX(0) rotate(35deg);
			border-top-left-radius: 37.5px;
			border-bottom-left-radius: 37.5px;
			opacity:1; 
			left: 15.25px;
		}
		a:after{
			content: '';
			position: absolute;
			top: 0;
			right: 0;
			background: #ff0047;
			width: 50%;
			height: 100%;
			transition: 0.5s;
			z-index: -1;
			transform: translateX(100px) rotate(325deg);
			opacity:0;
		}
		a.active:after{
			right: 15.25px;
			transform: translateX(0) rotate(-35deg);
			border-top-right-radius: 37.5px;
			border-bottom-right-radius: 37.5px;
			opacity:1; 
		}
	}
	.download{
		a{
			display: block;
			position: absolute;
			top: 20%;
			width: 150px;
			height: 35.5px;
			
			background:#fff;
			color:#262626;
			font-size: 13px;
			border-radius: 75px;
			text-align: center;
			line-height: 37.5px;
			text-decoration: none;
			transition: 0.5s;
			text-transform: unset;
			left: 22%;
			transform: translate(-50%);
			i{
				margin-right: 5px;
			}
		}
		a:hover{
			background: #23c8d2;
			color:#fff;

		}
	}
	.disnone{
		display: none;
	}
	.info{
		position: absolute;
		top: 30%;
		width: 80%;
		height: 50%;
		left: 5%;
		text-transform: none;
		font-size: 1.1em;
		padding: 5%;
		background:#b9b9b9;
		color:#222;
		border-radius: 40px;	
		display: block;
		font-weight: 600;
		span{
			position: absolute;
			right: 5%;
			font-weight: normal;
		}
	}
	.arrow_count{
		display: flex;
		position: absolute;
		top: 90%;
		width: 100%;
		font-size: 40px;
		justify-content: space-around;
		.countText{
			font-size: 20px;
			line-height: 50px;		
		}
		a:hover{
			color: #bbb;
			cursor: pointer;
		}
	}
}
.pageSlide{
	margin-top: 3%;
	position: relative;
	// width: 100%;
	// height: 100px;
	#next{
		display: block;
		position: absolute;
		left: 50%;
		-webkit-transform: translate(-50%);
		bottom: 10px;
		border: 1px solid #fff;
    border-radius: 20px;
    transition: .5s;
    padding-top: 10px;
    padding-right: 35px;
    padding-bottom: 10px;
    padding-left: 10px;
		i{
		
			position: absolute;
			top: 2px;
			padding: 10px;
			transition: .5s;
		}
	}
	#next:hover{
		background: #bbb;
		color: #000;
		cursor: pointer;
		padding-right: 10px;
		i{
			transform: translateX(80px);
			border: 1px solid #fff;
			padding: 10px;
			top: 2px;
			border-radius: 20px;
			background:#bbb;
			transition: .5s;
		}
	
	}
	#back{

		display: none;
		position: absolute;
		left: 50%;
		-webkit-transform: translate(-50%);
		bottom: 10px;
		border: 1px solid #fff;
    border-radius: 20px;
    transition: .5s;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 35px;
		i{
			margin-left: -35px;
			position: absolute;
			top: 2px;
			padding: 10px;
			transition: .5s;
		}
	}
	#back:hover{
		background: #bbb;
		color: #000;
		padding-left: 10px;
		cursor: pointer;
		i{
			transform: translateX(-80px);
			border: 1px solid #fff;
			padding: 10px;
			top: 2px;
			border-radius: 20px;
			background:#bbb;
			transition: .5s;
		}
	}
}












































// FOOTER
.footer{
	background:#0009;
	position: absolute;
	
	width: 100%;
}


.footer_nav {
	padding:1%;
}
.footer li a{
	margin-right: 20px;
	color: #fff;
}
.footer li a:hover{
	margin-right: 20px;
	color: #bbb;
}
.footer i{
	font-size: 24px;
	justify-content: flex-end;
	 
}
.pixua_2019{
	font-size: 13px;
	width: 99%;

}
// MEDIA
@media screen and (max-width: 1310px) {

	.sub_menu{
		display: block;
	}
 	.menu_item{
 		display: none;
 	}
 	.logo img{
 		width: 20vh;
 	}
	.popup_sign_up{
		height: 80%;
		width: 50%;
	}
	.popup_login{
		width: 50%;
	}
	.pageSlide{
		margin-top: 6%;
	}
	#slider{
		height: 70%;
	}
	.photo_profile{
		width: 10vw;
		height: 6vh;
		margin: 0;	

	}
	.like_anim{
		top: 10%;
		left: 50%;
	}


} 



@media screen and (max-width: 800px){
	.popup_sign_up{
		height: 80%;
	  width: 100%
	}
	.sign_submit{
		font-size: 3vh;
	}
	.sign_submit:hover{
		font-size: 3vh;
	}
	.social .facebook{
		font-size: 1.6vh
	}
	.social{
		height: 5vh
	}
	.social .google{
		font-size: 1.6vh;
	}
	.popup_login{
		height: 80%;
	  width: 90%
	}
}
/*MEDIA*/